:root {
    --bs-warning: rgb(97, 3, 97);
    --bs-primary: rgb(241, 227, 255);
}


body {
    background-color: rgb(252, 191, 252);
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 auto;
    color: var(--bs-warning);
}


.style-container {
    background-color: var(--bs-primary);
}

/* Navigation */

.brand {
    border-radius: 50%;
    border: 5px solid var(--bs-primary);
    margin-left: 1.5em;
}


nav {
    background-color: rgb(97, 3, 97);
    border: 10px solid var(--bs-warning);
}


svg {
    margin-right: 0.5em;
    color: var(--bs-primary);
}

.navbar-nav .nav-link {
    color: var(--bs-primary);
    font-size: 0.75em;
    border-bottom: 2px solid var(--bs-primary);
   padding: 0.7em;   
}

.navbar-nav .nav-item:first-child {
    border-top: 2px solid var(--bs-primary);
}



.navbar-nav .nav-item:last-child {
    border-bottom:none;
}



/* .bi-linkedin{
    margin-top: 1.1em;
    margin-left: 1em;
}



.bi-github{
    margin-top: 1.1em;
} */



/* Main Section */

.special-font {
    font-family: 'Handlee', cursive;
    font-size: 0.5em;
    line-height: 1.25em;
    font-weight: lighter;
}

main {
    margin: 0 auto;
    padding: 30px;
}



.btn-warning {
    background-color: var(--bs-warning);
    margin-left: 40%;
    border: var(--bs-warning);

}

.btn-warning a {
    color: var(--bs-primary);
}










/* Desktop */

@media screen and (min-width: 768px) {
    .style-container {
        height: 90%;
        width: 90%;
        margin: 0 auto;
        margin-top: 1.25em;
        margin-bottom: 1.25em;
        border: 5px solid var(--bs-primary);

    }

    .navbar-nav .nav-link {
        font-size: 1.5em;
    }

    svg{
        width:  1.5em;
        height:  1.5em;
        margin-right: 1em;
    } 
    

    .bi-linkedin{
        width: 2.3em;
        height: 2.3em;
       margin-right: 2em;
       margin-top: 1.1em;
       margin-left: 1em;
    }

    .bi-github{
        width: 2.3em;
        height: 2.3em;
        margin-top: 1.1em;
}







}